import(Rcpp)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(DirichletStudyInterface)
export(DirichletDefaultInterface)
export(DirichletFischInterface)
export(DirichletLinearInterface)
export(DirichletFischInterface)
useDynLib(DirichletStudy, .registration=TRUE)